@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

nav{
    box-shadow: none;
    z-index: 1000;
    padding: 0 4em;
    background-color: transparent !important;
    position: absolute;
}


#logo{
    background: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 5vh;
    top: 0.5em;
}

footer{
    background:rgba(0,0,0,1);
    padding: 20px;
}

#home{
    background-color:  rgba(0, 0, 116, 0.3);
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 100vh;
}

#home::after{
    content: "";
    background-image: url(../img/fondo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.icons__dev i{
    font-size: 7em;
    color: #A04274;
}

.icons{
    bottom: 1em;
    right: 3em;
    position: absolute;
    display: inline-flex;
}

.icons__circle{
    width: 50px;
    height: 50px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 10px;    
}

.icons__circle:hover{
    background: #A7455B;
    border: 2px solid #A7455B;
}

.side-nav .icons{
    bottom: 5em;
}

.side-nav .icons__circle{
    align-items: flex-start;
    justify-content: center;
}
.icons__circle a{
    color: #ffffff;
}

section{
    padding:2.5em 0;
    overflow: hidden;
}
#contact{
    background: #1D2229;
}

#contact .row{
    margin: 0;
}
#contact .icons__circle{
    padding: 1.8em;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1em;    
}

#contact .icons__circle:hover{
    background: #A7455B;
}

.icons--contact{
    padding:2em 0;
}

.icons--contact i{
    font-size: 2em;
}

#aboutme{
    background: #ffffff;
}

.contact__intro{
    padding-top: 1em;
    font-size: 1.5em;
    color: #ffffff;
}

.up{
    background: url(../img/ideas.gif) no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.auto{
    margin: auto;
}

.type{
    color:#AF0577;
    font-size: 2em;
}
.typed-cursor{
    font-size: 2em;
    color:#fff;
    font-weight: bold;  
}
.circle{
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
}

.navbar-fixed{
    position: fixed;
}
.show{
    background-color:rgba(0,0,0,0.9)!important;
}
#portfolio .row{
    margin-bottom: 0;
}
#portfolio .parrafos{
    font-size: 1em;
    text-align: justify;
}

.buttons__porftolio{
    padding: 1em;
}
.portfolio__image{
    width: 60%;
    height: 50vh;
    display: flex;
    margin: auto;
}

.demo__button{
    padding:0.3em 1em;
    border: 1px solid #A7455B;
    margin: 0.5em;
    border-radius: 10px;
    color: #000;
}

.view__button{
    padding:0.3em 1em;
    border: 1px solid #A7455B;
    border-radius: 10px;
    margin: 0.5em;
    color: #000;
}

.demo__button:hover,
.view__button:hover{
    background: #A7455B;
    color: #fff;
}

@media (max-width:992px){
    nav{
    padding: 0;
    }
    *{
        text-align: center!important;
    }
    #logo{
        width: 40vw;
        top: 0.5em;
        left: 2.5em;
    }
    #aboutme{
         text-align: center;
         padding-top: 3em;
    }
    #home .title{
        font-size: 3em;
    }
    #home .icons{
        display: none;
    }
    #home .sub__title{
         font-size: 1.5em;
    }
    .padd{
        padding-bottom: 2em;
        padding-top: 3em;
    }
    .line{
        margin: auto;
    }
    .circle{
        height: 30vh;
        width: 50vw;
        margin: auto;
    }
    .port--herra{
        font-size: 1.8em;
    }
    .parrafos{
        text-align: center;
    }
    .up{
        margin: auto;
    }
    .side-nav{
        background:  #1D2229;    
    }
    .sidenav-overlay{
        position: inherit;
    }
    .side-nav li>a{
        color: #eeeeee;
        font-size: 1.5em;
        padding:1em 1em;
    }
    .pad-home{
        padding-top: 
    }
    .portfolio__image{
        height: 40vh;
    }
    .demo__button{
        background:  #A7455B;
        color: #fff;
    }
    .view__button{
        background:  #A7455B;
        color: #fff;
    }
    .padd{
        padding-bottom: 1em;
        padding-top: 1em;
    }
}

/*SCROLL COLOR*/
::-webkit-scrollbar {
      width:  0em;
}

/*UTILITIES*/
.bg-pink{
    background: #A7455B;
}
.bg-light{
    background: #eeeeee;
}
.bg-green{
    background: #8DA1A3;
}
.co-second{
    color: #000;
}
.co-white{
    color: #ffffff;
}
.title{
    color: #ffffff;
    font-weight: 900;
}
.name{
    padding:3em 2em;
}
.main{
    font-size: 3em!important;
}
.parrafos{
    font-size:1.2em;
    line-height: 1.5;
    text-align: left;
}
.line{
    width: 20%;
    background: #A7455B;
    height: 5px;
    border: none;
}
.line-separator{
    background: #A7455B;
    margin: 1.5em 0;
    height: 2px;
    border: none;
}
.padd{
    padding-bottom: 1em;
    padding-top: 5em;
}
.transition {    
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}